.footer {
    margin: 0;
    margin-top: 20px;
    bottom: -1850px;
    background-color: #fff;
    padding: 30px 75px 0;
    font-size: 1.2rem;
    border-top: solid #ee4d2d 5px;
    .Introduce p {
        font-size: 13px;
      }
  }